@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    background: radial-gradient(circle, #c45f5f, #fdbaba);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    opacity: 0.7;
    height: 30vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
}

.input-card {
    height: 8vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    height: 4vh;
    width: 25vh;
    border-color: #0000004b;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #fdbaba;
    height: 4vh;
    width: 13vh;
    border: none;
    border-radius: 10px;
}